<div>
<h2>Sign UP</h2>

    <form action="/signup" method="POST">
        <label>Email: 
            <input type="email" name="email" placeholder="pepitoelbuenagente@melapela.com" required />
        </label>
        <label>Password: 
            <input type="password" name="password" placeholder="********" required />
        </label>
        <button type="submit">Sign Up</button>
        {{!-- error message will be added here  --}}
    </form>
</div>